#cloud-config
write_files:
  - path: /opt/carpathia/bootstrap.sh
    encoding: b64
    permissions: "0755"
    content: ${bootstrap_sh}

  - path: /opt/carpathia/modify_logging.py
    encoding: b64
    permissions: "0755"
    content: ${modify_logging_py}

runcmd:
  - [ bash, -c, "echo cloud-init-runcmd-started > /tmp/cloud-init-runcmd.txt" ]
  - [ python3, /opt/carpathia/modify_logging.py ]
  - [ bash, /opt/carpathia/bootstrap.sh ]